.App {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #2a2a2a;
  height: 100vh;
  width: 100vw;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000000; /* color of your choosing */
  text-decoration: none;
  font-weight: normal;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Map stuff */

#mapid {
  width: 100%;
  height: 50vh;
  margin: auto;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Loader styles */

.loadingbottle {
  height: 100%;
}

.bottlefill {
  fill: #f8513d;

  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

  animation: mask-up 1250ms ease-in-out 500ms forwards;
  -webkit-animation: mask-up 1250ms ease-in-out 500ms forwards;
}

.bottleoutline {
  fill: #fff;
}

@keyframes mask-up {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
