.App {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: tan;
}

h1 {
  margin: 0;
  padding: 0;
}

#mapid { 
  width: 60%;
  height: 60vh;
  margin: auto;
  margin-top: 50px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}